/* ==========================================
   K-999 | INTRO
   STYLE.CSS
========================================== */


/* ==========================================
   RESET
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --background: #050505;
    --screen: #0D0D0D;

    --primary: #B7FF7A;
    --secondary: #96D16C;
    --border: rgba(183, 255, 122, .15);

    --shadow: rgba(183, 255, 122, .18);

    --text: #D9FFD3;

}


/* ==========================================
   BODY
========================================== */

body {

    font-family: "JetBrains Mono", monospace;

    background:

        radial-gradient(circle at center,

            #1a1a1a 0%,

            #0d0d0d 30%,

            #070707 60%,

            #020202 100%);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    color: var(--text);

    box-shadow:

        0 0 60px rgba(0, 0, 0, .8),

        0 0 30px rgba(183, 255, 122, .08),

        0 0 80px rgba(183, 255, 122, .05),

        inset 0 0 60px rgba(183, 255, 122, .04);



}


/* ==========================================
   INTRO
========================================== */

.intro {

    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    animation:

        crt 8s infinite ease-in-out;

}


@keyframes crt {

    0% {

        filter: brightness(1);

    }

    50% {

        filter: brightness(.965);

    }

    100% {

        filter: brightness(1);

    }

}

/* ==========================================
   BACKGROUND
========================================== */

.background {

    position: absolute;
    inset: 0;

    pointer-events: none;

}


/* ==========================================
   OVERLAY
========================================== */

.overlay {

    position: absolute;
    inset: 0;

    background:
        radial-gradient(circle,
            transparent 55%,
            rgba(0, 0, 0, .75) 100%);

}


/* ==========================================
   TERMINAL
========================================== */

/* ==========================================
BOOT SCREEN
========================================== */

#bootScreen{

    position:absolute;

    inset:0;

    background:#000;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

#bootText{

    width:80%;

    color:#B7FF7A;

    font-size:1.6rem;

    font-family:"VT323";

    white-space:pre-wrap;

    line-height:1.6;

}

.content {

    position: relative;

    width: min(900px, 90%);

    padding: 70px;

    border-radius: 18px;

    border: 1px solid var(--border);

    background: rgba(10, 10, 10, .78);

    box-shadow:

        0 0 40px rgba(0, 0, 0, .65),

        0 0 30px var(--shadow),

        inset 0 0 50px rgba(183, 255, 122, .03);

    backdrop-filter: blur(4px);

    text-align: center;

    transform:

        perspective(1800px) rotateX(1deg) scale(.985);

}


/* ==========================================
   STATUS
========================================== */

.status {

    color: var(--secondary);

    font-size: .82rem;

    letter-spacing: 6px;

    margin-bottom: 25px;

    text-transform: uppercase;

}


/* ==========================================
   TITLE
========================================== */

h1 {

    font-family: "VT323", monospace;

    font-size: 7rem;

    font-weight: 400;

    color: var(--primary);

    letter-spacing: 10px;

    margin-bottom: 20px;

}


/* ==========================================
   LINE
========================================== */

.line {

    width: 240px;

    height: 1px;

    margin: 0 auto 45px;

    background: linear-gradient(transparent,

            var(--primary),

            transparent);

}


/* ==========================================
   LORE
========================================== */

.lore {

    display: flex;

    flex-direction: column;

    gap: 18px;

    font-family: "VT323", monospace;

    font-size: 2rem;

    line-height: 1.4;

    color: #D7FFD0;

}


.highlight {

    font-size: 2.8rem;

    color: var(--primary);

}


/* ==========================================
   BUTTON
========================================== */

button {

    margin-top: 55px;

    padding: 16px 40px;

    background: transparent;

    border: 1px solid var(--primary);

    color: var(--primary);

    font-family: "VT323", monospace;

    font-size: 2rem;

    cursor: pointer;

    transition: .25s;

}


button:hover {

    background: rgba(183, 255, 122, .08);

    transform: translateY(-2px);

}


/* ==========================================
   RESPONSIVO
========================================== */

@media(max-width:768px) {

    .content {

        padding: 40px 25px;

    }

    h1 {

        font-size: 4rem;

        letter-spacing: 4px;

    }

    .lore {

        font-size: 1.5rem;

    }

    .highlight {

        font-size: 2rem;

    }

    button {

        width: 100%;

    }

}


#whit {

    background-color: aliceblue;
    color: #020202;
}